body {
  margin: 0;
  padding: 0;
  background-color: #111;
  color: #0f0;
  font-family: monospace;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock-container {
  text-align: center;
}

#clock {
  font-size: 4rem;
  letter-spacing: 4px;
}
